<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Register</title>
    </head>
    <body>
        <h1>Register Page</h1>
		
		<form th:action="@{/user/save}" method="post">
			<pre>
				Name: <input type="text" name="userName"/>
				Mail: <input type="text" name="userEmail"/>
				Password: <input type="password" name="userPassword"/>
				Roles: <input type="checkbox" value="ADMIN">ADMIN  &nbsp; <input type="checkbox" value="CUSTOMER">CUSTOMER
				<input type="submit" value="submit"/>
			</pre>
		</form>
		[[${message}]]
    </body>
</html>